<html>
    <head>
        
    </head>
    <body>
        <h1>Hello {{username}}</h1>
        <form action= {% url 'GenerateReportCard' %} method="POST"> {% csrf_token %}
            <input type="submit" name="submit" value="Generate Report Card">
        </form>

        {% if rank %}
           
        {% for student_records in student_records%}
               <h3> Student Id: {{student_records.id}}  <br><br>
                Name: {{student_records.StudentName}}  <br><br>
                Course: {{student_records.Course}} <br><br>  
                RANK: {{rank}}
            </h3>
                <table border="1">
                    <th>SUBJECT</th>
                    <th>MARKS</th>
            {% for subject in subject_records %}
                    
                {% if subject.StudentDetailId.id == student_records.id %}
                <tr>
                    <td><b>JAVA</b></td>
                    <td> {{subject.Java}} </td>
                </tr>
                <tr>
                        <td><b>CSharp</b></td>
                    <td> {{subject.CSharp}} </td>
                </tr>
                <tr>
                        <td><b>Angular</b></td>
                    <td> {{subject.Angular}} </td>
                </tr>
                <tr>
                        <td><b>Node</b></td>
                    <td> {{subject.Node}} </td>
                </tr>
                <tr>
                        <td><b>Python</b></td>
                    <td> {{subject.Python}} </td>
                </tr>
                <tr>
                        <td><b>TOTAL</b></td>
                    <td> {{subject.TotalMarks}} </td>
                </tr>
                {% endif %}
            {% endfor %}
        
            {% endfor %}

        {% endif %}    
        </table>
    </body>
</html>