<html>
    <head>
        
    </head>
    <body>
       <center> <h1>Hello {{username}}</h1>
        <br><h2>
            {% for i in college %}
                {{i }}
            {% endfor %}
        </h2>
        <table border="1" cellspacing="0" >
            <th>RANK</th>
            <th>Student Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Student Course</th>
            <th>Student Phone Number</th>
            <th>Java</th>
            <th>CSharp</th>
            <th>Angular</th>
            <th>Node</th>
            <th>Python</th>
            <th>Total Marks</th>
            
        {% for subject in subject_records %}
            {% for student_records in student_records%}
            {% if subject.StudentDetailId.id == student_records.id %}
            <tr>
                {% for key,value in rank.items %}
                {% if key == student_records.id %}
                <td>{{value}}</td>
                 {% endif %}
                {% endfor %}
                
                <td>{{student_records.id}}</td>  
                <td>{{student_records.FirstName}}</td>  
                <td>{{student_records.LastName}}</td>  
                <td>{{student_records.Course}}</td>  
                <td>{{student_records.PhoneNumber}}</td> 
                <td> {{subject.Java}} </td>
                <td> {{subject.CSharp}} </td>
                <td> {{subject.Angular}} </td>
                <td> {{subject.Node}} </td>
                <td> {{subject.Python}} </td>
                <td> {{subject.TotalMarks}} </td>
            </tr>
            {% endif %}
            {% endfor %}
        {% endfor %}
            
        </table>
    </center>
    </body>
</html>